DJANGO_SECRET_KEY=django-insecure-$-z^^ziw7ye2ltvz$@_gp*+l62rt3g(x!2$49j3str&5=36w9u
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://user:pass@localhost:5432/facturacao
CORS_ALLOWED_ORIGINS=http://localhost:3000
CLOUDINARY_CLOUD_NAME=df8s3k2
CLOUDINARY_API_KEY=123456789
CLOUDINARY_API_SECRET=abcde12345